<table class="table">
  <thead>
    <tr>
      <th *ngFor="let column of columns">{{ column.header }}</th>
      <th class="actions" *ngIf="actionsTemplate">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td *ngFor="let column of columns">{{ item[column.field] }}</td>
      <td class="actions" *ngIf="actionsTemplate">
        <ng-container *ngTemplateOutlet="actionsTemplate; context: { $implicit: item }"></ng-container>
      </td>
    </tr>
  </tbody>
</table>
